@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.faq__question-button::after {
  content: '';
  display: inline-block;
  width: 16px; /* Adjust the width as needed */
  height: 16px; /* Adjust the height as needed */
  background-image: url(/assets/svg/Greater.svg);
  background-size: contain;
  background-repeat: no-repeat;
  transform: rotate(-90deg);
}

.faq__desc {
  padding-right: 1rem;
  margin-top: 0;
  margin-bottom: 0;
  height: 0;
  overflow: hidden;
  transition: all 300ms ease-out;
}

.faq__desc.show-description {
  height: 300px;
  margin-bottom: 1rem;
}

.faq__question-button::after {
  transition: transform 300ms ease-out;
}

.font-weight-bold::after {
  transform: rotate(0deg);
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.custom-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}